doctype html
html
    head
        title Husam Dance Academy
        block scripts
        block style

    body
        nav#navbar
            ul
                li
                    a(href="/") 
                        img(src="https://img.freepik.com/free-vector/grunge-splatter-silhouette-female-modern-dance-pose_1048-18624.jpg?t=st=1735124371~exp=1735127971~hmac=9e75f5a5fac0d096bf341b92d5488ee806b79d118456bf29a707d597d85404e3&w=360", alt="Dance Academy Logo", class="logo")
                        span HDA
                li
                    a(href="/") Home
                li
                    a(href="/about") About
                li
                    a(href="/services") Services
                li
                    a(href="/class-info") Class Info
                li
                    a(href="/contact") Contact Us
                li 
                    a(href="/login") Login 

        block content
        
        footer
            | &copy; 2024 Dance Academy. All rights reserved.
