extends base.pug

block style
    style
        include ../static/style.css
        include ../static/forgot-password.css

block content
    .container
        .forgot-password-wrapper
            h2 Forgot Password
            p.text-muted If you've forgotten your password, don't worry. Enter your registered email, and we'll send you instructions to reset it.
            form(action='/forgot-password', method='POST')
                .form-group
                    label(for='email') Email Address:
                    input(type='email', name='email', id='email', placeholder='Enter your email', required=true)
                .form-group
                    button(type='submit' class='btn btn-primary') Submit
                .form-group
                    a(href='/login' class='back-to-login') ← Back to Login
