extends base.pug

block style
    style
        include ../static/style.css
        include ../static/reset-password.css

block content
    .container
        .reset-password-box
            h2 Reset Password
            p Please enter your new password below to reset your account password.
            form(action=`/reset-password/${token}`, method='POST')
                .form-group
                    label(for='password') New Password:
                    input(type='password', name='password', id='password', required=true)
                .form-group
                    button(type='submit' class='btn btn-primary') Reset Password
